.button {
    display: inline-block;
    background-color: #fcfeff;
    border: 1px solid #3baab7;
    color: #000000;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;

    &--big {
        font-size: 24px;
        font-weight: 400;
        padding: 16px;
    }

    &:disabled {
        color: #aaaaaa;
    }
}

.primary-button {
    background-color: #3baab7;
    border: 1px solid #3baab7;
    padding: 8px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;

    &:active {
        background-color: #2e8690;
        border-color: #2e8690;
    }

    &--big {
        font-size: 24px;
        font-weight: 400;
        padding: 16px;
    }
}

.secondary-button {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #3baab7;
    color: #000000;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

    &:active {
        background-color: #e6e6e6;
    }

    &--big {
        font-size: 24px;
        font-weight: 400;
        padding: 16px;
    }
}
